@import "./theme.scss";

.icon {
    $max-size: 4rem;
    max-width: $max-size;
    max-height: $max-size;
}

.spacer {
    flex: 1;
}


@media only screen and (max-width: 1000px) {
    #headerIcon {
        display: none;
    }
}

* {
    box-sizing: border-box;
}

$page-padding: 3rem;
.page {
    color: #efefef;

    font-size: 18pt;

    display: flex;
    flex-direction: column;
    height: 100%;
    padding: $page-padding;
    width: 100%;

    .content-wrapper {
        display: flex;
        flex: 1;
        flex-direction: column;
        margin: auto;
        max-width: 1200px;  
        width: 100%;

        #home {
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 100%;

            .navbar { 
                display: flex; 
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;

                a, a:visited {
                    background-image: linear-gradient(
                        to right,
                        $secondary,
                        $secondary 50%,
                        $primary 50%
                    );

                    background-size: 200% 100%;
                    background-position: -100%;
                    cursor: pointer;
                    display: inline-block;
                    margin: 0 1rem;
                    padding: 0;
                    position: relative;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    text-transform: uppercase;
                    transition: all 0.3s ease-in-out;
                    white-space: nowrap;

                    &:before{
                        content: '';
                        background: $secondary;
                        display: block;
                        position: absolute;
                        bottom: -3px;
                        left: 0;
                        width: 0;
                        height: 3px;
                        transition: all 0.3s ease-in-out;
                    }

                    &:hover {
                        background-position: 0;

                        &::before{
                            width: 100% !important;
                        }
                    }

                    &:active {
                        color: $secondary;
                    }
                }
            }
            
            .content { 
                align-items: center;
                flex: 1;

                display: flex;
                flex-direction: row;
                margin-top: 1rem;
                max-height: 100%;
                width: 100%;

                .about-me-container {
                    display: flex;
                    flex-direction: column;
                    line-height: 1;
                    flex: 1;

                    .id-image {
                        $max-size: 8rem;
                        max-width: $max-size;
                        max-height: $max-size;
                    }

                    .intro {
                        font-size: 10pt;
                        letter-spacing: 0.2ch;
                        text-align: right;
                    }

                    h1 {
                        margin: 0;
                        text-align: right;
                        text-transform: uppercase;
                    }
                }

                #main-icon {
                    height:0;
                    min-height: 100%;
                    max-width: 60%;
                }
            }     

            .home-footer {
                display: inline-block;
                color: $secondary;
                margin: auto;
                text-decoration: none;
                font-size: 14pt;

                animation-duration: 1.5s;
                animation-name: bob;
                animation-iteration-count: infinite;

                transition: all .2s ease-in-out;

                &:hover {
                    transform: scale(1.2);
                }

                svg {
                    position: relative;
                    fill: $secondary;
                    display: block;
                    margin: auto;
                    margin-top: -8px;
                    margin-bottom: 8px;
                    height: 48px;
                    width: 48px;
                }
            }
        }    

        .media-container {
            ak-player {
                background-color: $primary;
                border-radius: 4px;
                position: sticky;
                position: -webkit-sticky;
                top: 0;
            }      
            
            h2 {
                margin: 0;
                margin-top: 1rem;
            }
            
            #library {
                margin-top: 3rem;
                
                .library-container {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                }            
            }                
        }
    }        
}


@keyframes bob {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(6px); }
    100% { transform: translateY(0); }
}
