@import "../../theme.scss";

:host {
    display: block;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

/*Chrome*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
        cursor: pointer;
        overflow: hidden;
        width: 80px;
        height: 10px;
        -webkit-appearance: none;
        background-color: $primary-darker;
    }
    
    input[type='range']::-webkit-slider-runnable-track {
      height: 10px;
      -webkit-appearance: none;
      color: $primary-darker;
    }
    
    input[type='range']::-webkit-slider-thumb {
      width: 10px;
      -webkit-appearance: none;
      height: 11px;
      background: $secondary;
      box-shadow: -4096px 0 0 4096px $secondary-darker;
    }
}

/** FF*/
input[type="range"]::-moz-range-progress {
  background-color:  $secondary; 
}
input[type="range"]::-moz-range-track {  
  background-color:  $primary;
}
/* IE*/
input[type="range"]::-ms-fill-lower {
  background-color:  $secondary; 
}
input[type="range"]::-ms-fill-upper {  
  background-color:  $primary;
}

/*
* {
    border: 1px solid white;
}*/


svg{                    
    fill: $text-primary;
}

.smallIcon {
    svg {
        transform: scale(0.5);
    }
}

.midIcon {
    svg {
        transform: scale(0.85);
    }
}

.largeIcon {
    svg {
        transform: scale(1.1);
    }
}

#akPlayer {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    padding: 0.25em 0.5em;
    width: 100%;

    .info {
        font-size: 1rem;
        width: 200px;

        .currentSongImage {
            max-height: 4rem;
            max-width: 4rem;
        }

        .currentSongDescContainer {
            margin-left: 0.5rem;

            .currentSongName {
                font-weight: bold;
                font-size: 1.1rem;
            }

            .currentSongAlbum {
                font-size: 1rem;                   
            }           

            .currentSongArtist {  
                font-size: 0.9rem;              
            }
        }

    }

    .controls {        
        .buttons {
            margin: 0.5rem 0;

            .lastNext {
                font-size: 0.9rem; 
                width: 10ch;

                &:first-of-type {
                    text-align: right;
                }
            }

            button {
                align-items: center;
                display: flex;
                flex-direction: column;
                margin: 0 0.25rem;

                &:hover {
                    svg {
                        fill: $secondary;
                    }
                }
                
                svg{              
                    &.active {            
                        fill: $secondary;
                    }

                    &.activated {            
                        fill: $secondary;
                    }
                }
            }

        }

        .scrub-container {
            font-size: 12pt;
            margin: 0 0 0.25rem 0;

            #playback-range {
                margin: 0 1rem;
            }

            div {
                &:first-child {
                    text-align: right;
                }

                width: 6ch;
            }
        }
    }

    .volume {
        width: 200px;

        .volume-icon-container {
            &:hover {
                svg {
                    fill: $secondary;
                }
            }

            #volume-scrubber {
                width: 150px;
            }            
        }
    }
}