<div id="akPlayer">

    <div class="info flexRow alignItemsCenter">
        <img class="currentSongImage" *ngIf="akPlayerService.currentSong?.image ?? nullImageFallback" src="{{akPlayerService.currentSong?.image ?? nullImageFallback}}"/>
        <div class="currentSongDescContainer flexCol justifyContentCenter">
            <div class="currentSongName">{{ akPlayerService.currentSong?.name ?? "Click a song to begin playback" }} </div>
            <div *ngIf="showAlbumName" class="currentSongAlbum">{{ akPlayerService.currentSong?.album ?? "-"}} </div>
            <div class="currentSongArtist">{{ akPlayerService.currentSong?.artist ?? "-"}} </div>
        </div>
    </div>

    <div class="controls flexCol flexGrow">
        <div class="buttons flexRow width100 justifyContentCenter alignItemsCenter">
            <!--<button (click)="akPlayerService.toggleShuffle()" class="smallIcon flexRow justifyContentCenter alignItemsCenter">
                <svg [ngClass]="{'active': akPlayerService.isShuffleOn}" xmlns="http://www.w3.org/2000/svg" height="48" width="48"><path d="M29.05 40.5v-3h6.25l-9.2-9.15 2.1-2.15 9.3 9.2v-6.35h3V40.5Zm-19.45 0-2.1-2.15 27.9-27.9h-6.35v-3H40.5V18.9h-3v-6.3Zm10.15-18.7L7.5 9.6l2.15-2.15 12.25 12.2Z"/></svg>
            </button>-->

            <div class="lastNext" *ngIf="showNextAndLast"><em>{{ akPlayerService.playlist.last(true)?.name ?? '-' }}</em></div>

            <button (click)="akPlayerService.lastSong()" class="midIcon flexRow justifyContentCenter alignItemsCenter" (mousedown)="lastSongActive=true" (mouseup)="lastSongActive=false">
                <svg [ngClass]="{'active': lastSongActive}" xmlns="http://www.w3.org/2000/svg" height="48" width="48"><path d="M12 36V12h3v24Zm22.35-.15-11.7-11.7 11.7-11.7 2.15 2.15-9.55 9.55 9.55 9.55Z"/></svg>
            </button>

            <button (click)="akPlayerService.togglePlay()"  class="largeIcon flexRow justifyContentCenter alignItemsCenter" (mousedown)="playPauseActive=true" (mouseup)="playPauseActive=false">
                <svg *ngIf="akPlayerService.isPaused" [ngClass]="{'active': playPauseActive}" xmlns="http://www.w3.org/2000/svg" height="48" width="48"><path d="M19.15 32.5 32.5 24l-13.35-8.5ZM24 44q-4.1 0-7.75-1.575-3.65-1.575-6.375-4.3-2.725-2.725-4.3-6.375Q4 28.1 4 24q0-4.15 1.575-7.8 1.575-3.65 4.3-6.35 2.725-2.7 6.375-4.275Q19.9 4 24 4q4.15 0 7.8 1.575 3.65 1.575 6.35 4.275 2.7 2.7 4.275 6.35Q44 19.85 44 24q0 4.1-1.575 7.75-1.575 3.65-4.275 6.375t-6.35 4.3Q28.15 44 24 44Zm0-3q7.1 0 12.05-4.975Q41 31.05 41 24q0-7.1-4.95-12.05Q31.1 7 24 7q-7.05 0-12.025 4.95Q7 16.9 7 24q0 7.05 4.975 12.025Q16.95 41 24 41Zm0-17Z"/></svg>
                <svg *ngIf="akPlayerService.isPlaying" [ngClass]="{'active': playPauseActive}" xmlns="http://www.w3.org/2000/svg" height="48" width="48"><path d="M18.5 32h3V16h-3Zm8 0h3V16h-3ZM24 44q-4.1 0-7.75-1.575-3.65-1.575-6.375-4.3-2.725-2.725-4.3-6.375Q4 28.1 4 24q0-4.15 1.575-7.8 1.575-3.65 4.3-6.35 2.725-2.7 6.375-4.275Q19.9 4 24 4q4.15 0 7.8 1.575 3.65 1.575 6.35 4.275 2.7 2.7 4.275 6.35Q44 19.85 44 24q0 4.1-1.575 7.75-1.575 3.65-4.275 6.375t-6.35 4.3Q28.15 44 24 44Zm0-3q7.1 0 12.05-4.975Q41 31.05 41 24q0-7.1-4.95-12.05Q31.1 7 24 7q-7.05 0-12.025 4.95Q7 16.9 7 24q0 7.05 4.975 12.025Q16.95 41 24 41Zm0-17Z"/></svg>
            </button>

            <button (click)="akPlayerService.nextSong()"  class="midIcon flexRow justifyContentCenter alignItemsCenter"(mousedown)="nextSongActive=true" (mouseup)="nextSongActive=false">
                <svg [ngClass]="{'active': nextSongActive}" xmlns="http://www.w3.org/2000/svg" height="48" width="48"><path d="m13.6 35.75-2.15-2.15 9.6-9.6-9.6-9.6 2.15-2.15L25.35 24ZM33 36V12h3v24Z"/></svg>
            </button>

            <div class="lastNext" *ngIf="showNextAndLast"><em>{{ akPlayerService.playlist.next(true)?.name ?? '-' }}</em></div>
            <!--
            <button (click)="akPlayerService.toggleRepeat()" class="smallIcon flexRow justifyContentCenter alignItemsCenter" (mousedown)="toggleRepeatActive=true" (mouseup)="toggleRepeatActive=false">
                <svg *ngIf="akPlayerService.isNotLooping || akPlayerService.isLoopingInfinite" [ngClass]="{'active': toggleRepeatActive, 'activated': akPlayerService.isLoopingInfinite }" xmlns="http://www.w3.org/2000/svg" height="48" width="48"><path d="m14 44-8-8 8-8 2.1 2.2-4.3 4.3H35v-8h3v11H11.8l4.3 4.3Zm-4-22.5v-11h26.2l-4.3-4.3L34 4l8 8-8 8-2.1-2.2 4.3-4.3H13v8Z"/></svg>
                <svg *ngIf="akPlayerService.isLoopingOne" [ngClass]="{'active': toggleRepeatActive}" xmlns="http://www.w3.org/2000/svg" height="48" width="48"><path d="m14 44-8-8 8-8 2.1 2.2-4.3 4.3H35v-8h3v11H11.8l4.3 4.3Zm9.3-14.1v-9.45h-2.8V18h5.25v11.9ZM10 21.5v-11h26.2l-4.3-4.3L34 4l8 8-8 8-2.1-2.2 4.3-4.3H13v8Z"/></svg>
            </button>-->
        </div>
        <div class="scrub-container flexRow alignItemsCenter">
            <div>{{ akPlayerService.readableCurrentTime }}</div>
            <input #playbackRange id="playback-range" type="range" class="flexGrow" [value]="getSongProgress()" (input)="playbackChange($event)">
            <div>{{ akPlayerService.readableDuration }}</div>
        </div>
    </div>

    <div class="volume flexRow alignItemsCenter justifyContentEnd ">
        <button (click)="akPlayerService.toggleMute()" class="volume-icon-container flexCol justifyContentCenter midIcon">
            <svg *ngIf="akPlayerService.isVolumeMuted" xmlns="http://www.w3.org/2000/svg" height="48" width="48"><path d="m40.65 45.2-6.6-6.6q-1.4 1-3.025 1.725-1.625.725-3.375 1.125v-3.1q1.15-.35 2.225-.775 1.075-.425 2.025-1.125l-8.25-8.3V40l-10-10h-8V18h7.8l-11-11L4.6 4.85 42.8 43Zm-1.8-11.6-2.15-2.15q1-1.7 1.475-3.6.475-1.9.475-3.9 0-5.15-3-9.225-3-4.075-8-5.175v-3.1q6.2 1.4 10.1 6.275 3.9 4.875 3.9 11.225 0 2.55-.7 5t-2.1 4.65Zm-6.7-6.7-4.5-4.5v-6.5Q30 17 31.325 19.2q1.325 2.2 1.325 4.8 0 .75-.125 1.475-.125.725-.375 1.425Zm-8.5-8.5-5.2-5.2 5.2-5.2Zm-3 14.3v-7.5l-4.2-4.2h-7.8v6h6.3Zm-2.1-9.6Z"/></svg>
            <svg *ngIf="akPlayerService.isVolumeLow" xmlns="http://www.w3.org/2000/svg" height="48" width="48"><path d="M10 30V18h8L28 8v32L18 30Zm21 2.4V15.55q2.7.85 4.35 3.2Q37 21.1 37 24q0 2.95-1.65 5.25T31 32.4Zm-6-16.8L19.35 21H13v6h6.35L25 32.45ZM18.9 24Z"/></svg>
            <svg *ngIf="akPlayerService.isVolumeHigh"xmlns="http://www.w3.org/2000/svg" height="48" width="48"><path d="M28 41.45v-3.1q4.85-1.4 7.925-5.375T39 23.95q0-5.05-3.05-9.05-3.05-4-7.95-5.35v-3.1q6.2 1.4 10.1 6.275Q42 17.6 42 23.95t-3.9 11.225Q34.2 40.05 28 41.45ZM6 30V18h8L24 8v32L14 30Zm21 2.4V15.55q2.75.85 4.375 3.2T33 24q0 2.85-1.65 5.2T27 32.4Zm-6-16.8L15.35 21H9v6h6.35L21 32.45ZM16.3 24Z"/></svg>
        </button>
        <input #volumeScrubber id="volume-scrubber" class="flexGrow" type="range" [value]="akPlayerService.volume * 100" (input)="volumeChange($event)">
    </div>

</div>
