$primary: #3120e0ff;
$secondary: #f15412ff;
$accent: #05031e;

html, body
{
    margin: 0;
    padding: 0;
} 

* {
    //font-family: 'Dosis', sans-serif;
    //font-family: 'Fredoka One', cursive;
    font-family: 'Red Hat Display', sans-serif;
    //font-family: 'Tajawal', sans-serif;
    scroll-behavior: smooth;
}

.heading {
    font-family: 'Teko', sans-serif;
}

.flexRow {
    display: flex;
    flex-direction: row;    
}

.flexCol {
    display: flex;
    flex-direction: column;
}

.width100 {
    width: 100%;
}

.alignItemsCenter {
    align-items: center;
}

.alignItemsEnd {
    align-items: end;
}

.justifyContentCenter {
    justify-content: center;
}

.justifyContentEnd {
    justify-content: end;
}

.flexGrow {
    flex: 1;
}